Checks:
  - cert-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - misc-*
  - -misc-non-private-member-variables-in-classes
  - -misc-include-cleaner
  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-use-nodiscard
  - performance-*
  - readability-*
CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^(ok|_)$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^(id|os)$'
WarningsAsErrors: true
HeaderFilterRegex: 'include/*.hpp'
FormatStyle: file